body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

  /* General style */
  header{
    width: 100%;
    display: block;
    background: #FFF;
    height: 40px;
    margin-bottom: 4%;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0px 2px 0px 0px rgba(125,121,125,0.3);
    overflow: hidden;
  }
   h1 {
    display: inline-block;
    font-size: .8rem;
    margin: auto 10px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .wrap{
    margin: 30px auto;
    max-width: 1000px;
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: sans-serif;
  }


  .box{
    width: calc(20%);
    margin: 20px 20px;
    background: rgb(82, 82, 82);
    cursor: pointer;
    color: #FFF;
    text-align: center;
    line-height: 130px;
  }


  .blue{
    background-color: rgb(231, 79, 79);
  }

  .scaleX:hover{
    transform: scaleX(0.5);
  }

  .scaleY:hover{
    transform: scaleY(0.5);
  }

  .scale:hover{
    transform: scale(0.5);
  }

  .translateX:hover{
    transform: translateX(10px); 
  }

  .translateY:hover{
    transform: translateY(10px);
  }

  .translate:hover{
    transform: translate(10px); 
  }

  .matrix:hover{
    transform: matrix(1, 2, -1, 1, 80, 80);
  }

  .rotate:hover{
    transform: rotate(180deg)
  }

  .skew:hover{
    transform: skew(10deg);
  }

  .skewX:hover{
    transform: skewX(10deg);
  }

  .skewY:hover{
    transform: skewY(10deg);
  }

  .matrix3d:hover{
    transform: rotate3d(1, 1, 1, 30deg) matrix3d(1,0,0,0,0,1,6,0,0,0,1,0,50,100,0,1.1);
  }

  .translate3d:hover{
    transform: perspective(500px) translate3d(50px, 0, 50px);
  }

  .rotateY:hover{
    transform: rotateY(45deg)
  }

  .rotateX:hover{
    transform: rotateX(45deg)  
}

.translateZ:hover{
    transform: perspective(500px) translateZ(200px);
}



